<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name=".settingsActivity"
            android:label="@string/settingsName"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aapp.MainActivity" />
        </activity>
        <activity android:name=".accountabilityActivity"
            android:label="@string/accountabilityBuddyName"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aapp.MainActivity" />
        </activity>
        <activity android:name=".MainActivity"
            android:label="@string/mainActivity"
            android:parentActivityName=".surveyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aapp.MainActivity" />
        </activity>
        <activity android:name=".socialActivity"
            android:label="@string/socialName"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aapp.MainActivity" />
        </activity>
        <activity android:name=".calendarActivity"
            android:label="@string/calendarName"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aapp.MainActivity" />
        </activity>
        <activity
            android:name=".motivationalActivity"
            android:label="@string/motivationalActivityName"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aapp.MainActivity" />
        </activity>
        <activity android:name=".surveyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>